body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: larger;
}

.greeting,
.about,
.weather,
.tasks,
.notes,
.feedback {
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.greeting {
    background-image: url(images/pexels-quang-nguyen-vinh-222549-6877707.jpg);
    /* height: 150vh; */
}
.greeting h2 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
} 


#current-hour {
    margin-top: 0;
    font-size: larger;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

button {
    cursor: pointer;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}


.about {
    background-image: url(images/pexels-mauroignaciotorres-14111847.jpg); 
    /* height: 125vh; */
}


.tasks {
    background-image: url(images/pexels-quang-nguyen-vinh-222549-6870970.jpg);
    /* height: 150vh; */
}


 .weather {
    background-image: url(images/pexels-annaelle-quionquion-2652658-17703493.jpg);
    /* height: 140vh; */
 }


 .notes {
    background-image: url(images/pexels-tsvetoslav-hristov-1306654-2499862.jpg);
    /* height: 150vh; */
}

.feedback {
    background-image: url(images/pexels-walter-alejandro-228509595-16653748.jpg);
}
.nav {
    position: fixed;
    top: 55px;
    right: 150px;
    margin: 30px;
}

#myDash {
    text-align: left;
    padding: 20px;
    color: white;
    font-size: larger;
    font-weight: bold;
    margin-top: 60px;
    position: fixed;
    }

 #taskBtn,
 #noteBtn,
 #enterDashboard,
 #greeting,
 #weather,
 #notes,
 #tasks,
 #saveBtn,
 #weatherBtn,
 #localBtn,
 #toggleModeBtn {
    background: none;
    color: white;
    border-radius: 5px;
    font-size: large;
 }

 #taskBtn:hover,
 #noteBtn:hover,
 #enterDashboard:hover,
 #greeting:hover,
 #weather:hover,
 #notes:hover,
 #tasks:hover,
 #saveBtn:hover,
 #weatherBtn:hover,
 #localBtn:hover,
 #toggleModeBtn:hover {
    background-color: hwb(0 91% 9% / 0.446);
}

 #saveBtn {
    position: fixed;
    top: 20px;
    right: 20px;
    margin: 30px;
 }

 #toggleModeBtn {
    position: fixed;
    top: 50px;
    right: 20px;
    margin: 30px;
 }
 
 #localBtn {
    margin: 20px;
 }


 #nameInput {
    position: fixed;
    top: 10px;
    right: 20px;
    margin: 10px;
    font-size: large;
    border-radius: 6px;
 }

 #taskInput,
 #cityInput {
    border-radius: 6px;
    padding: 5px;
    font-size: medium;
 }

nav ul {
    list-style: none;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: flex;
}
 
nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    /* font-weight: bold; */
    transition: color 0.3s ease;
}

nav a:hover {
    /* font-size:large; */
    color: lightgrey;
}

/* to do list */
#taskList {
    list-style: none;
    padding: 0px;
}

.list {
    color: darkolivegreen;
    cursor: pointer; 
    padding: 2px;
    background: lightgoldenrodyellow;
    margin: 5px 0;
    border-radius: 5px;
    
}

.list:hover {
     background: darkolivegreen;
     color: burlywood;
}

.notesList {
    background: darkolivegreen;
    display: flex;
    margin: auto;
    padding: 10px;

}

@media (){
 /* add font-size */
}

/*  Light MODE: Styles applied when body has class "light" */
body.light .greeting, 
body.light #enterDashboard, 
body.light #toggleModeBtn,
body.light #saveBtn,
body.light .about,
body.light #greeting,
body.light #weather,
body.light #tasks,
body.light #notes,
body.light .weather,
body.light #weatherBtn,
body.light #localBtn,
body.light .tasks,
body.light #taskBtn,
body.light .notes,
body.light #noteBtn,
body.light .feedback
{
  /* background-color: rgba(211, 211, 211, 0.664);  */
  background-color: whitesmoke;
  color: rgb(59, 59, 59);
  background-image: none;
  background: none;
}

/* move content closer to center vertically*/
body.light .greeting,
body.light .about,
body.light .weather,
body.light .tasks,
body.light .notes {
    height: 150vh;
    padding: 20px;
}

body.light #enterDashboardDiv {
    border: solid lightgrey;
    background-color: white;
    border-radius: 30px;
    margin: 10px;
    padding: 20px;
}


body.light #enterDashboardDiv:hover {
    box-shadow: 2px 2px 10px rgba(2, 2, 2, 0.8);

}



 body.light #taskBtn:hover,
 body.light #noteBtn:hover,
 body.light #enterDashboard:hover,
 body.light #greeting:hover,
 body.light #weather:hover,
 body.light #notes:hover,
 body.light #tasks:hover,
 body.light #saveBtn:hover,
 body.light #weatherBtn:hover,
 body.light #localBtn:hover,
 body.light #toggleModeBtn:hover {

    background-color: hwb(0 91% 9% / 0.8);
    border-radius: 7px;
}


body.light .widget {
    /* background-color: rgb(168, 168, 168); */
    background-color: white;
    border: solid lightgrey;
}

body.light #aboutContainer {
    /* background-color: rgb(168, 168, 168); */
    border: solid lightgrey;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    margin: 10px;
    font-size: medium;
}


body.light #greetFeature,
body.light #weatherFeature,
body.light #tasksFeature,
body.light #notesFeature {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
}

body.light #greetFeature:hover,
body.light #weatherFeature:hover,
body.light #tasksFeature:hover,
body.light #notesFeature:hover,
body.light #aboutContainer:hover {
   box-shadow: 2px 2px 10px rgba(2, 2, 2, 0.8);
} 

body.light header {
    background-color: rgba(185, 184, 184, 0.725);
    min-height: 120px;
    width: 100%;
    display: block;
    position: fixed;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
}


body.light nav a {
    color: rgb(59, 59, 59);
    background-image: none;
    font-weight: bold;
}

body.light nav a:hover {
    /* color: hsl(0, 1%, 52%); */
    /* color: rgba(7, 7, 7, 0.823); */
    color: whitesmoke;
    transition: color 0.3s ease;
}

body.light #myDash {
    text-align: left;
    padding: 20px;
    color: rgb(69, 69, 69);
    font-size: larger;
    font-weight: bold;
    margin-top: 60px;
    }

body.light .list {
    color: rgb(59, 59, 59);
    cursor: pointer; 
    padding: 2px;
    /* background-color: rgb(168, 168, 168); */
    background-color: lightgrey;
    margin: 5px 0;
    border-radius: 5px;
}

body.light .list:hover {
     background: rgb(59, 59, 59);
     color: lightgrey;
}


body.light .noteDiv  {
    position: relative;
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
    /* background: darkgrey; */
    background: white;
    color: rgb(59, 59, 59);
    text-shadow: 10px;
 }  


 body.light .noteDiv.light {
  /* background: rgb(67, 65, 65); */
  background: rgb(59, 59, 59);
  color: whitesmoke;
 }